body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url(Beach\ Wallpaper\,\ digital\ art\ illustration\ of\ Thailand\ beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30px);
}
footer{
    background: rgb(155, 202, 221);
    padding-top: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.container{
    width: 1000px;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}
.footer content{
    width: 23.3%;

}
h3{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px ;
    margin: auto;
    padding: 7px;
    text-decoration: none;
}
.footer content ul{
    text-align: center;
    text-decoration: none;
    
}
.list{
    padding: 0;
    text-decoration: none;
    list-style: none;

    
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 3px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: white;
    transition-duration: 5s;
}
.list li:hover::before{
    width: 70px;
}
.bottom-bar{
    background-color: #343434;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 16px;
}
.list li a{
    text-decoration: none;
}
@media (max-width:768px){
    body{
        min-height: 200vh; /* Ensures full screen height */
        background-position: center; 
    }
    .navbar{
        width: 200%;
        
    }
    .container{
        width: 200%;
    }
    .footer{
        width: 200vh;
    }
}